/node_modules
/dist
/.tmp
/.sass-cache
/.idea
.DS_Store
/.yo-rc.json
/.jscsrc
/.jshintrc
/bower.json
/.bowerrc
/.editorconfig
/package.json
/robots.txt
/package-lock.json
/Gruntfile.js
/jeanasmith.github.io.iml
/.gitattributes
